.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196F3;
  --secondary-color: #212121;
  --third-color: #757575;
}

body {
  font-family: var(--main-font);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header {
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.menu {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.menu-mobile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile-icon:hover, .menu-mobile-icon:focus {
  fill: var(--main-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    height: 80px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    height: 80px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  .menu-mobile {
    display: none;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
}

.logo__web {
  color: var(--main-color);
}

.logo__studio--footer {
  color: #FFF;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.nav {
  display: none;
}

.nav-mobile {
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-mobile__agency, .nav-mobile__agency--active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile__agency:hover, .nav-mobile__agency:focus {
  color: var(--main-color);
}

.nav-mobile__agency--active {
  color: var(--main-color);
}

.nav-mobile__portfolio, .nav-mobile__portfolio--active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile__portfolio--active {
  color: var(--main-color);
}

.nav-mobile__portfolio:hover, .nav-mobile__portfolio:focus {
  color: var(--main-color);
}

.nav-mobile__contact {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile__contact:hover, .nav-mobile__contact:focus {
  color: var(--main-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav {
    min-width: 282px;
    margin-left: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__agency, .nav__agency--active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__agency:hover, .nav__agency:focus {
    color: var(--main-color);
  }
  .nav__agency--active {
    color: var(--main-color);
  }
  .nav__agency--active::after {
    width: 53px;
  }
  .nav__portfolio, .nav__portfolio--active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__portfolio--active {
    color: var(--main-color);
  }
  .nav__portfolio--active::after {
    width: 58px;
  }
  .nav__portfolio:hover, .nav__portfolio:focus {
    color: var(--main-color);
  }
  .nav__agency--active, .nav__portfolio--active {
    position: relative;
  }
  .nav__agency--active::after, .nav__portfolio--active::after {
    content: "";
    position: absolute;
    height: 4px;
    background: var(--main-color);
    border-radius: 2px;
    margin-top: 44px;
    left: 0;
  }
  .nav__contact {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__contact:hover, .nav__contact:focus {
    color: var(--main-color);
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    min-width: 254px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__agency, .nav__agency--active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__agency:hover, .nav__agency:focus {
    color: var(--main-color);
  }
  .nav__agency--active {
    color: var(--main-color);
  }
  .nav__agency--active::after {
    width: 53px;
  }
  .nav__portfolio, .nav__portfolio--active {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__portfolio--active {
    color: var(--main-color);
  }
  .nav__portfolio--active::after {
    width: 58px;
  }
  .nav__portfolio:hover, .nav__portfolio:focus {
    color: var(--main-color);
  }
  .nav__agency--active, .nav__portfolio--active {
    position: relative;
  }
  .nav__agency--active::after, .nav__portfolio--active::after {
    content: "";
    position: absolute;
    height: 4px;
    background: var(--main-color);
    border-radius: 2px;
    margin-top: 44px;
    left: 0;
  }
  .nav__contact {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__contact:hover, .nav__contact:focus {
    color: var(--main-color);
    cursor: pointer;
  }
}

.email-menu,
.tel-menu {
  display: none;
}

.email-menu-mobile,
.tel-menu-mobile {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-menu-mobile:hover, .email-menu-mobile:focus,
.tel-menu-mobile:hover,
.tel-menu-mobile:focus {
  color: var(--main-color);
  cursor: pointer;
}

.email-menu-mobile {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.167;
}

.tel-menu-mobile {
  margin-bottom: 32px;
  margin-top: 302px;
  color: var(--main-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .email-menu,
  .tel-menu {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email-menu:hover, .email-menu:focus,
  .tel-menu:hover,
  .tel-menu:focus {
    color: var(--main-color);
    cursor: pointer;
  }
  .email-menu__icon,
  .tel-menu__icon {
    fill: currentColor;
  }
  .email-menu {
    width: 161px;
    margin-left: 79px;
    margin-right: -160px;
    margin-top: -25px;
  }
  .tel-menu {
    width: 130px;
    position: relative;
    left: -1px;
    top: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .email-menu,
  .tel-menu {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .email-menu:hover, .email-menu:focus,
  .tel-menu:hover,
  .tel-menu:focus {
    color: var(--main-color);
    cursor: pointer;
  }
  .email-menu__icon,
  .tel-menu__icon {
    fill: currentColor;
  }
  .email-menu {
    width: 161px;
    margin-left: 345px;
  }
  .tel-menu {
    width: 130px;
    margin-left: 30px;
  }
}

.effect {
  height: 400px;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

.effective {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.effective__text {
  margin-bottom: 0px;
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
}

.effective__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background: var(--main-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 0px;
  color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .effect {
    height: 600px;
  }
  .effective__text {
    width: 696px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.adv {
  width: 100%;
  padding: 60px 15px;
}

.advantages-table {
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.advantages-table__list {
  height: 226px;
}

.advantages-table__list:not(:first-child) {
  margin-top: 30px;
}

.advantages-table__list--icon {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-table__list--head {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 30px;
}

.advantages-table__list--text {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-table {
    min-width: 738px;
    min-height: 522px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages-table__list {
    height: 251px;
    width: 354px;
  }
  .advantages-table__list:not(:first-child) {
    margin-top: 0;
  }
  .advantages-table__list--icon {
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages-table__list--head {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 30px;
  }
  .advantages-table__list--text {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }
}

@media screen and (min-width: 1200px) {
  .adv {
    height: 345px;
    padding-top: 94px;
  }
  .advantages-table {
    width: 1170px;
    height: 251px;
    display: flex;
    justify-content: space-between;
  }
  .advantages-table__list {
    width: 270px;
  }
  .advantages-table__list:not(:first-child) {
    margin-top: 0;
  }
  .advantages-table__list--icon {
    width: 270px;
  }
  .advantages-table__list--head {
    text-align: left;
    margin: 0px;
  }
  .advantages-table__list--text {
    width: 270px;
    height: 75px;
  }
}

@media screen and (max-width: 1199px) {
  .activ {
    display: none;
  }
}

.activ {
  height: 574px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.activities {
  width: 1170px;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities__head {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 0px;
}

.activities-example {
  display: flex;
  justify-content: space-between;
}

.activities-example__box {
  position: relative;
  height: 294px;
}

.activities-example__box-text {
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  padding: 27px;
}

.team {
  width: 100%;
  height: 100%;
  background: #F5F4FA;
}

.our-team {
  padding: 60px 15px;
  justify-content: center;
}

.our-team__head {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 0px;
}

.our-team__table {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 0px;
  padding: 0;
}

.our-team__table-box {
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
}

.our-team__table-box:not(:first-child) {
  margin-top: 30px;
}

.our-team__table-box img {
  width: 100%;
  height: auto;
}

.our-team__table-box .social-icon {
  margin-bottom: 0;
}

.our-team__table-box-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 0px;
  margin-top: 30px;
}

.our-team__table-box-position {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin: 0px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    height: 1286px;
  }
  .our-team__table {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .our-team__table-box {
    width: 354px;
    height: 536px;
    margin-bottom: 30px;
  }
  .our-team__table-box:not(:first-child) {
    margin-top: 0;
  }
  .our-team__table-box img {
    width: 354px;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    height: 708px;
  }
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team__head {
    font-size: 36px;
  }
  .our-team__table {
    margin-top: 50px;
    width: 1170px;
    height: 368px;
    display: flex;
    justify-content: space-between;
  }
  .our-team__table-box {
    width: 270px;
    height: 428px;
  }
  .our-team__table-box:not(:first-child) {
    margin-top: 0;
  }
  .our-team__table-box img {
    width: 270px;
  }
}

.social-icon {
  width: 206px;
  height: 44px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icon--background {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon--background:hover, .social-icon--background:focus {
  background-color: var(--main-color);
  cursor: pointer;
}

.social-icon--background:hover > .social-icon__instagram,
.social-icon--background:hover > .social-icon__twitter,
.social-icon--background:hover > .social-icon__facebook,
.social-icon--background:hover > .social-icon__linkedin,
.social-icon--background:focus > .social-icon__instagram,
.social-icon--background:focus > .social-icon__twitter,
.social-icon--background:focus > .social-icon__facebook,
.social-icon--background:focus > .social-icon__linkedin {
  fill: #fff;
}

.social-icon__instagram, .social-icon__twitter, .social-icon__facebook, .social-icon__linkedin {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer {
  padding: 60px 15px;
}

.our-customer {
  min-height: 399px;
}

.our-customer__head {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin: 0px;
}

.our-customer__list {
  list-style: none;
  margin-left: -30px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
}

.our-customer__list-box {
  max-width: 210px;
  min-height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc(100% / 2);
}

.our-customer__list-box:hover, .our-customer__list-box:focus {
  border-color: var(--main-color);
  cursor: pointer;
}

.our-customer__list-box:hover > .our-customer__list-box-icon,
.our-customer__list-box:focus > .our-customer__list-box-icon {
  fill: var(--main-color);
}

.our-customer__list-box-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .our-customer {
    min-height: 277px;
  }
  .our-customer__list-box {
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    height: 372px;
    padding: 94px 0;
  }
  .our-customer {
    width: 1170px;
    height: 184px;
  }
  .our-customer__head {
    font-size: 36px;
  }
  .our-customer__list {
    margin-top: 50px;
  }
  .our-customer__list-box {
    max-width: 170px;
    margin-top: 0;
  }
}

.foot {
  height: 603px;
  background: #2F303A;
}

.footer {
  width: 100%;
  height: 603px;
  padding: 60px 15px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .foot {
    height: 463px;
  }
  .footer {
    height: 463px;
    padding: 60px 76px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .foot {
    height: 252px;
  }
  .footer {
    width: 1200px;
    height: 252px;
    padding-left: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    text-align: left;
  }
}

.adress {
  height: 79px;
  margin: 20px auto;
  margin-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.adress__adres--footer {
  color: #FFF;
}

.adress__mail--footer, .adress__tel--footer {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.adress__mail--footer:hover, .adress__mail--footer:focus, .adress__tel--footer:hover, .adress__tel--footer:focus {
  color: var(--main-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .adress {
    width: 255px;
    height: 81px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.join-us-footer {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.social-icons-footer {
  width: 206px;
  height: 44px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.social-icons-footer--background {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-footer--background:hover, .social-icons-footer--background:focus {
  background-color: var(--main-color);
  cursor: pointer;
}

.social-icons-footer__instagram, .social-icons-footer__twitter, .social-icons-footer__facebook, .social-icons-footer__linkedin {
  fill: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us-footer {
    margin-left: 144px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us-footer {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.sign-up {
  height: 156px;
  margin: 60px auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
}

.newsletter {
  margin-top: 20px;
}

.newsletter__email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: #fff;
  outline: none;
  border-radius: 4px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__email:focus {
  border-color: var(--main-color);
}

.newsletter__button {
  width: 200px;
  height: 50px;
  background: var(--main-color);
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 42px;
}

.newsletter__button--icon-send {
  fill: #fff;
  margin-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up {
    width: 450px;
    margin: 0 auto;
  }
  .newsletter__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up {
    width: 570px;
    height: 86px;
    margin-top: 12px;
    margin-left: 78px;
  }
  .newsletter {
    display: flex;
  }
  .newsletter__email {
    width: 358px;
  }
  .newsletter__button {
    margin: 0;
    margin-left: 12px;
  }
}

.portfolio-page {
  padding: 60px 15px;
}

.portfolio-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.portfolio-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-buttons__button {
  margin-right: 8px;
  margin-bottom: 15px;
}

button,
.portfolio-buttons__button {
  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button,
.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-projects {
  width: 100%;
  list-style: none;
  padding: 0px;
}

.portfolio-projects-container {
  width: 100%;
  height: 404px;
  border: 1px solid #EEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}

.portfolio-projects-container:hover, .portfolio-projects-container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-projects-container:hover .portfolio-projects-container__box--overlay, .portfolio-projects-container:focus .portfolio-projects-container__box--overlay {
  transform: translateY(0);
}

.portfolio-projects-container__title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-top: 20px;
  margin-left: 24px;
}

.portfolio-projects-container__text {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-top: 4px;
  margin-left: 24px;
}

.portfolio-projects-container__box {
  position: relative;
  overflow: hidden;
}

.portfolio-projects-container__box > img {
  display: block;
  width: 100%;
}

.portfolio-projects-container__box img {
  object-fit: cover;
}

.portfolio-projects-container__box--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  padding: 49px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-buttons {
    width: 645px;
    display: flex;
    justify-content: space-between;
  }
  .portfolio-buttons__button {
    margin: 0;
  }
  .portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
  }
  .portfolio-projects-container {
    width: 354px;
    height: 404px;
  }
  .portfolio-projects-container:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-page {
    height: 1548px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio-list {
    width: 1170px;
    height: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .portfolio-buttons {
    width: 572px;
    height: 54px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  button,
  .portfolio-buttons__button {
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding: 6px 22px;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  button,
  .portfolio-buttons__button:hover,
  .portfolio-buttons__button:focus {
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio-projects {
    width: 1170px;
    height: 1272px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .portfolio-projects-container {
    width: 370px;
    height: 404px;
    border: 1px solid #EEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-projects-container:hover, .portfolio-projects-container:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .portfolio-projects-container:hover .portfolio-projects-container__box--overlay, .portfolio-projects-container:focus .portfolio-projects-container__box--overlay {
    transform: translateY(0);
  }
  .portfolio-projects-container__title {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-left: 24px;
  }
  .portfolio-projects-container__text {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--third-color);
    margin-top: 4px;
    margin-left: 24px;
  }
  .portfolio-projects-container__box {
    position: relative;
    overflow: hidden;
  }
  .portfolio-projects-container__box--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    padding: 49px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal {
  width: 450px;
  height: 609px;
  margin: auto;
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.modal__button-close {
  position: absolute;
  background-color: #fff;
  box-shadow: none;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.modal__button-close:hover, .modal__button-close:focus {
  background-color: #fff;
  box-shadow: none;
}

.modal__button-close-icon {
  fill: #000000;
  margin: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close-icon:hover, .modal__button-close-icon:focus {
  fill: var(--main-color);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  margin-top: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
  }
}

.form {
  width: 370px;
  margin: 12px 40px;
  padding: 0;
}

.form-label {
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--third-color);
  padding: 0;
}

.form-label__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label__input:focus-within > .form-label__input-icon-person,
.form-label__input:focus-within > .form-label__input-icon-phone,
.form-label__input:focus-within > .form-label__input-icon-email {
  fill: var(--main-color);
}

.form-label__input:focus-within, .form-label__input2:focus-within {
  border-color: var(--main-color);
  color: var(--main-color);
}

.form-label__input-icon-person, .form-label__input-icon-phone, .form-label__input-icon-email {
  margin-left: 12px;
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label__input-text-area {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label__input2 {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label__input-text-area2 {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.statement {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.statement__text {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--third-color);
  position: relative;
}

.statement__text:hover, .statement__text:focus {
  cursor: pointer;
}

.statement__text::before {
  display: inline-block;
  position: relative;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  top: 2px;
  left: -3px;
}

.statement__text--underline {
  text-decoration: underline;
  color: var(--main-color);
}

.statement__checkbox:checked + .statement__text::before {
  border: none;
  background-image: url(images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.form__button {
  width: 200px;
  height: 50px;
  margin: 30px 85px;
  padding: 0;
  color: #fff;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
  .statement__text {
    font-size: 14px;
    line-height: 1.7;
  }
  .form__button {
    margin: 30px 124px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu__content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-mobile-menu {
  max-width: 357px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
/*# sourceMappingURL=main.css.map */